In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [28]:
navigation = "https://raw.githubusercontent.com/UBC-LA-Hackathon/hack-la-2022/main/data/navigation_events.csv"
navdata = pd.read_csv(navigation)
navdf = pd.DataFrame(navdata)

gradebook = "https://raw.githubusercontent.com/KeitoKat/UBC_Analytics_Hackathon_22/main/data/additional/gradebook.csv"
gradedata = pd.read_csv(gradebook)
gradedf = pd.DataFrame(gradedata)
gradedf.head()

,Student,Assignment 1 (c81f04547a95da2a7b88054ef491b7c4),Assignment 2 (a4dc11e7e79361fc5886a9078aac66b8),Assignment 3 (option A) (811d93ea379b5cdd5a19f1b5dbab88cd),Assignment 3 (option B) (df8d1f1ff3f48fdc24a278b40c5f45cc),Assignment 3 (option C) (bb971b36c1578cede00150acda89aa99),Assignment 3 (option D) (f1ad954cd2cddda6e17f6fc225d1aa3e),Participation grade: Formative (not included in final grade) (5965e0b0c712861d0efdd9be54572114),Assignment 1 Current Score,Assignment 2 Current Score,Assignment 3 Current Score,Participation & engagement Current Score,Current Score
0,NaN,Manual Posting,Manual Posting,Manual Posting,Manual Posting,Manual Posting,Manual Posting,Manual Posting,NaN,NaN,NaN,NaN,NaN
1,Points Possible,100,100,100,100,100,100,10,(read only),(read only),(read only),(read only),(read only)
2,LEARNER_4,88,76,75,NaN,NaN,NaN,10,88,76,75,100,82.9
3,LEARNER_10,88,72,74,NaN,NaN,NaN,8.5,88,72,74,85,78.4
4,LEARNER_34,90,78,73,NaN,NaN,NaN,9,90,78,73,90,81.3

In [25]:
pd.unique(navdf['actor_id'])

array(['LEARNER_1', 'LEARNER_2', 'LEARNER_3', 'LEARNER_4', 'LEARNER_5',
       'LEARNER_6', 'LEARNER_7', 'LEARNER_8', 'LEARNER_9', 'LEARNER_10',
       'LEARNER_11', 'LEARNER_12', 'LEARNER_13', 'LEARNER_14',
       'LEARNER_15', 'INSTRUCTOR', 'LEARNER_16', 'LEARNER_17',
       'LEARNER_18', 'LEARNER_19', 'LEARNER_20', 'LEARNER_21',
       'LEARNER_22', 'LEARNER_23', 'LEARNER_24', 'LEARNER_25',
       'LEARNER_26', 'LEARNER_27', 'LEARNER_28', 'LEARNER_29',
       'LEARNER_30', 'LEARNER_31', 'LEARNER_32', 'LEARNER_33',
       'LEARNER_34', 'LEARNER_35', 'LEARNER_36', 'LEARNER_37',
       'LEARNER_38', 'LEARNER_39', 'LEARNER_40', 'LEARNER_41',
       'LEARNER_42', 'UNKN_1', 'UNKN_2', 'LEARNER_43', 'UNKN_3', 'UNKN_4',
       'UNKN_5', 'UNKN_6', 'UNKN_7', 'LEARNER_44', 'UNKN_8', 'UNKN_9',
       'LEARNER_45', 'LEARNER_46', 'UNKN_10', 'UNKN_11', 'LEARNER_47',
       'UNKN_12', 'UNKN_13', 'LEARNER_48'], dtype=object)